@model HelpDesk.WebUI.Entities.Activ

@{
    ViewBag.Title = "Activ";
}

<h2>Activ</h2>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script>
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });

        $(".openDialog").on("click", function (e) {
            e.preventDefault();
            $("<div></div>")
            .addClass("dialog")
            .attr("id", $(this)
            .attr("data-dialog-id"))
            .appendTo("body")
            .dialog({
                title: $(this).attr("data-dialog-title"),
                close: function () { $(this).remove() },
                modal: true
            })
            .load(this.href);
        });
        $(".close").on("click", function (e)
        {
            e.preventDefault();
            $(this).closest(".dialog").dialog("close");
        })
    });
</script>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Activ</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RoomNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomNumber, new { htmlAttributes = new { @class = "form-control" } })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DepartmentId, ViewBag.Departments as SelectList)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<table class="table table-striped table-hover">
    @foreach (var item in ViewBag.Activs)
    {
        <tr>
            <td>@item.Id</td> 
            <td>@item.RoomNumber</td>
            <td>@item.Department.Name</td>
            <td>@Html.ActionLink("Delete", "DeleteActiv", new { id = @item.Id }, new { @class = "btn btn-danger" })</td>
        </tr>
    }
</table>
